<!DOCTYPE html>
<html>
<head>
    <script src="/vis/vis.js"></script>
    <link href="/vis/vis.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/index.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>LaFrise</title>
	</head>
	<body>

    <nav>
       <div class="nav-wrapper grey darken-3">
         <a href="#" class="brand-logo">La Frise</a>
         <ul id="nav-mobile" class="right hide-on-med-and-down">
           <li><a id="wiki">Wikipedia</a></li>
           <li><a id="dota">Dota 2</a></li>
         </ul>
       </div>
     </nav>

    <div id="visualization" class="laFrise"></div>

    <script type="text/javascript">
        var container = document.getElementById('visualization');
        var wikiset = <%-JSON.stringify(wiki_data)%>;
        var dotaset = <%-JSON.stringify(dota_data)%>;

        var wikiDataset = new vis.DataSet(wikiset);
        var dotaDataset = new vis.DataSet(dotaset);
        var container = document.getElementById('visualization');
        var wikiOptions = {
          height: '700px',
          min: new Date(800, 0, 1),
          max: new Date(2200, 0, 1),
        };
        var dotaOptions = {
          height: '700px',
          min: new Date(2014, 0, 1),
          max: new Date(2020, 0, 1),
        };
        var timeline = new vis.Timeline(container,  wikiDataset, wikiOptions);

        var wiki = document.getElementById("wiki");
        var dota = document.getElementById("dota");
        wiki.addEventListener("click", function() {
          timeline.setItems(wikiDataset);
          timeline.setOptions(wikiOptions);
          timeline.redraw();
          timeline.moveTo(new Date(1905, 1, 1), function() {
             timeline.zoomOut(1);
          });
        });
        dota.addEventListener("click", function() {
          timeline.zoomIn(0.5);
          timeline.setItems(dotaDataset);
          timeline.setOptions(dotaOptions);
          timeline.redraw();
        });
    </script>
</html>
