<!DOCTYPE html>
<html>
<head>
    <script src="/vis/vis.js"></script>
    <link href="/vis/vis.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/index.css" rel="stylesheet" type="text/css"/>
    <title><%= title %></title>
</head>
<body>

<div id="visualization">
</div>

<script type="text/javascript">
    var container = document.getElementById('visualization');
    var options = {};
    var wikiset = <%-JSON.stringify(wiki_data)%>;

    var lelel = new vis.DataSet(wikiset);
    var timeline = new vis.Timeline(container,  lelel, options);
    timeline.on('select', function (properties) {
         alert('selected items: ' + properties.items);
     });
</script>
</body>
</html>
