<!DOCTYPE html>
<html>
    <head>
    <script src="/vis/vis.js"></script>
    <link href="/vis/vis.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/index.css" rel="stylesheet" type="text/css" />
    <title>LaFrise</title>
	</head>
	<body>
    <div id="visualization"></div>

    <script type="text/javascript">
    var eventsFromDb = <%- JSON.stringify(events) %>;
    var data = [];
    var i = 0;
    var u = 0;
    while (u < eventsFromDb.length) {
      var event = {};
      if (u % 1000 === 0) {
        console.log(u);
        event['id'] = eventsFromDb[u].id;
        event['content'] = eventsFromDb[u].description;
        event['start'] = eventsFromDb[u].date;
        data[i] = event;
        i++;
      }
      u++;
    }
    var items = new vis.DataSet(data);
    var container = document.getElementById('visualization');
    var options = {};
    var timeline = new vis.Timeline(container, items, options);
    timeline.on('select', function (properties) {
    alert('selected items: ' + properties.items);
    });
  </script>

	</body>
</html>
